<p>Score: {{ score }}</p>

<div class="row" *ngFor="let cols of rows">
	<div class="col" *ngFor="let hole of cols">
		<div
		  class="hole"
			[class.active]="hole.active"
			(click)="checkHole(hole)"
		></div>
	</div>
</div>