<input [(ngModel)]="text">
<button (click)="addItem()">Add</button>

<p>{{ text }}</p>

<ol>
  <li *ngFor="let item of todoList">
    <button (click)="complete(item)">Complete</button>
    {{ item }}
  </li>
</ol>

<p *ngIf="todoList.length == 0">
  No items yet
</p>

<app-game></app-game>

<router-outlet></router-outlet>
